doctype html
html(class="no-js")
  head
    title Base Project
    // bower:css
    // endbower
    link(rel='stylesheet', href='assets/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='assets/stylesheets/style.css')
  body
    .panel.panel-default
      .panel-heading
        h1 Hi this is the base project
    // bower:js
    // endbower

